*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    justify-items: center;

}

.banner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
width: 1321px;
height: 646px;
left: 140px;
top: 50px;
margin-left: 100px;
margin-right: 100px;
background: #161616;
border-radius: 30px;
margin-bottom: 80px;
}

.banner h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 80px;
color: #FFFFFF;

}


.banner p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-bottom: 40px;

}

.banner a{
width: 187px;
gap: 10px;
margin-top: 50px;
padding: 16px 25px;
background: #DD0000;
border-radius: 5px;
text-decoration: none;
color: white;
font-weight: 500;
}
.header{
  padding-left: 106px;
  padding-top: 111px;
  padding-bottom: 111px;

}

.banner img{
  width: 581px;
height: 613px;
left: 801px;
top: 83px;
transition: transform .5s ease;
}
.banner img:hover{
  filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
transform: scale(1.1);
}

.card{
    width: 312px;
    height: 312px;
    margin-left: 50px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
}


.upcoming{
  margin-top: 50px;
  padding: 16px 25px;
  background: #DD0000;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 500;
margin: 30px 30px 30px 30px;
background: #FFFFFF;
text-align: center;
;
font-size: 20px;
line-height: 30px;
}

#blog{
    background: #DD0000;
  
}
.card a{
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    justify-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #161616;

}
.Second_part{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:5px;
}


 
.card_1{
    width: 312px;
    height: 362px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
    padding: 10px;
    margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;

}
 .card_1 p{
  margin-top: 50px;
 }


  .container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .card-body h5{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tag {
    
    border-radius: 5px;
    border: 1px solid black;
    font-size: 13px;
    margin: 0;
    color: rgb(17, 13, 13);
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  
  .card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .user {
    display: flex;
    margin-top: auto;

  }
  
  .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #545d7a;
  }
/* footer */
footer{
    text-align: center;
    background-color: #121212;
    height: 250px;
    color: white;
    margin-top: 100px;

}
footer h2{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;

}
  .goal{
  display: flex;
  gap: 10px;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;


  }
  .icon{
    display: flex;
    gap: 20px;
  }

  .icon a{
    text-decoration: none;
    color: white;
    font-size: 30px;
  }

  /* media query */

 
